<div class="container">
  <h1 style="font-family: 'Helvetica Neue', sans-serif;">Login</h1>
  <form (submit)="onLogin()">
    <label style="font-family: 'Helvetica Neue', sans-serif;" for="username">Username:</label>
    <input style="font-family: 'Helvetica Neue', sans-serif;" type="text" [(ngModel)]="username" name="username">
    <label style="font-family: 'Helvetica Neue', sans-serif;" for="password">Password:</label>
    <input style="font-family: 'Helvetica Neue', sans-serif;" type="password" [(ngModel)]="password" name="password">
    <button style="font-family: 'Helvetica Neue', sans-serif;" type="submit">Login</button>
  </form>
</div>
