<div class="container">
  <h1>Channels in Selected Group</h1>
  <ul>
    <li *ngFor="let channel of channels">{{ channel }}</li>
  </ul>
  
  <div *ngIf="isUserAdminInGroup">
    <!-- Super Admin Controls -->
    <h2>Admin Controls</h2>
    <input type="text" placeholder="Username" [(ngModel)]="newUsername">
    <button (click)="addUserToGroup()">Add User</button>
    <input type="text" placeholder="Username" [(ngModel)]="promoteUsername">
    <button (click)="promoteToGroupAdmin()">Promote to Group Admin</button>
    <p>{{ addUserMessage }}</p>
    <p>{{ promoteUserMessage }}</p>
  </div>

  <!-- List of Users in the Group -->
  <div *ngIf="usersInGroup.admins.length > 0 || usersInGroup.members.length > 0">
    <h2>Admins</h2>
    <ul>
      <li *ngFor="let admin of usersInGroup.admins">{{ admin }}</li>
    </ul>
    
    <!-- Members -->
    <h2>Members</h2>
    <ul>
      <li *ngFor="let member of usersInGroup.members">{{ member }}</li>
    </ul>
  </div>
</div>
