<div class="centered-container">
  <div class="chat-container">
    <div class="header">
      <button class="back-button" (click)="goBack()">Back</button>
      <h1>Chat Room</h1>
    </div>
    <div class="message-display">
      <div class="message" *ngFor="let message of messages$ | async">
        <img *ngIf="message?.profilePicturePath" [src]="'http://localhost:4001/' + message?.profilePicturePath" alt="Profile Picture" class="profile-picture">
        <span *ngIf="message?.text">{{ message?.text }}</span>
        <img *ngIf="message?.imagePath" [src]="'http://localhost:4001/' + message?.imagePath" alt="Image">
      </div>
    </div>
    <div class="input-container">
      <textarea class="chat-input" #chatInput
                (keydown.enter)="sendMessage(chatInput.value); chatInput.value='';"
                placeholder="Type your message here..."></textarea>
                <div class="file-upload-wrapper">
                  <label class="file-upload-btn">
                    <span>Upload Image</span>
                    <input type="file" (change)="uploadImage($event)" style="display: none;">
                  </label>                </div>
      <button class="send-button" (click)="sendMessage(chatInput.value); chatInput.value='';">Send</button>
    </div>
  </div>
</div>
