<div class="centered-container">
  <div class="chat-container">
    <div class="header">
      <button class="back-button" (click)="goBack()">Back</button>
      <h1>Chat Room</h1>
    </div>
    <div class="message-display">
      <div class="message" *ngFor="let message of messages">
        <!-- Display profile picture -->
        <img *ngIf="profilePicturePath" [src]="'http://localhost:4001/' + profilePicturePath" alt="Profile Picture" class="profile-picture">
        
        <!-- Display text message -->
        <span *ngIf="message?.text">{{ message?.text }}</span>
        
        <!-- Display image -->
        <img *ngIf="message?.imagePath" [src]="'http://localhost:4001/' + message?.imagePath" alt="Image">
      </div>
    </div>
    <div class="input-container">
      <textarea class="chat-input" #chatInput
                (keydown.enter)="sendMessage(chatInput.value); chatInput.value='';"
                placeholder="Type your message here..."></textarea>
      <button class="send-button" (click)="sendMessage(chatInput.value); chatInput.value='';">Send</button>
      <input type="file" (change)="uploadImage($event)" />
    </div>
  </div>
</div>
