<div class="container">
    <h1 style="font-family: 'Helvetica Neue', sans-serif;">Register</h1>
    <form (submit)="onRegister()">
        <label style="font-family: 'Helvetica Neue', sans-serif;" for="username">Username:</label>
        <input style="font-family: 'Helvetica Neue', sans-serif;" type="text" [(ngModel)]="username" name="username">
        <label style="font-family: 'Helvetica Neue', sans-serif;" for="password">Password:</label>
        <input style="font-family: 'Helvetica Neue', sans-serif;" type="password" [(ngModel)]="password" name="password">
        <label style="font-family: 'Helvetica Neue', sans-serif;" for="email">Email:</label>
        <input style="font-family: 'Helvetica Neue', sans-serif;" type="email" [(ngModel)]="email" name="email">
        <button style="font-family: 'Helvetica Neue', sans-serif;" type="submit">Register</button>
    </form>
</div>
